<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.unicoce.doctorMahmoud">

    <permission
        android:name="ir.unicoce.doctorMahmoud.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ir.unicoce.doctorMahmoud.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <meta-data
            android:name="DATABASE"
            android:value="doctormahmoud.db" />
        <meta-data
            android:name="VERSION"
            android:value="9" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="ir.unicoce.doctorMahmoud" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/CustomFullScreenTheme"/>

        <activity
            android:name=".Activity.SupportActivity"
            android:label="@string/title_activity_support"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".Activity.CommonQuestionsActivity"
            android:label="@string/title_activity_common_questions"
            android:theme="@style/AppTheme"></activity>

        <activity
            android:name=".Activity.AboutUsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Activity.DepartmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DescriptionActivity"
            android:label="@string/title_activity_description"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.EstimateCostActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ShowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ContactUsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ServicesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MagazineActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.DrugsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.CareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.PartsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.FavoriteActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.VideosActivity" />
        <activity android:name=".Activity.ShowVideoActivity"></activity>
    </application>

</manifest>